*{
    padding: 0;
    box-sizing: 0;
    text-decoration: 0;
    margin: 0;

}




header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 209, 209);
    width: 100%;
    height: 80px;
    gap: 20px;
   
}

header img{
    width: 48px;
    height: 48px;
}

header p{
    font-size: 20px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}




main img{
    width: 70px;
}

main p{
    display: flex;
    align-items:start;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    width: 680px;
    height: 30px;
    padding-top: 15px;
    padding-left: 20px;
   border-radius: 20px;
   border: 1px solid black;
    
}

.blaf{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
}
.blaf img{
    width: 890px;
    height: 530px;
}

.promocao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 30px;
}
.frete{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.frete img{
    width: 30px;
    
}

.frete p{
    width: 180px;
}

.cupom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.cupom img{
    width: 30px;
}

.cupom p{
    width: 180px;
}

.cartao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 10px;
}

.cartao img{
    width: 30px; 
    padding-bottom: 10px;
}

.cartao p{
    width: 180px;
}

.produtos{
    display: flex;
    align-items: center;
  justify-content: center;
    gap: 64px;
    padding-top: 90px;
   
}

.protetor p{
  padding-top: 10px;
  padding-bottom: 20px;
}
.protetor img{
    width: 300px;
    height: 300px;
}

.serum p{
    padding-top: 10px;
    padding-bottom: 20px;
}
.serum img{
    width: 300px;
    height: 300px;
}

.oil p{
    padding-top: 10px;
    padding-bottom: 20px;
}
.oil img{
    width: 300px;
    height: 300px;
}

button{
    border: 1px solid black;
    background-color: transparent;
    width: 80px;
    height: 25px;
    border-radius: 10px;
    
}