@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Style+Script&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Updock&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Poiret+One&family=Style+Script&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Updock&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');


*{

    padding: 0;
    margin: 0;
}
body{
    background-color: #e0e2e2;
    width: 100%;
    
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    font-family: "Poiret One", sans-serif;
    font-size: 45px;
    margin-left: 30px;
   
=======
    font-family: "Imperial Script", cursive;
    font-size: 60px;
    margin-top: 60px;
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
}

main {
    background-color: #ddcbc1;
    height: 702px;
}


.titulo{
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin-top: 70px; */
    font-size: px;
    color:#598086;
   width: 100%;
   
    
}

.inicio{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

}


.titulo img{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 67%;
    margin-bottom: 220px
}



header{
    display: flex;
    align-items: center;
    justify-content:start;
   height: 100px;
    background-color:#e9e1dc;
    width: 100%;
}
header img{
    display: flex;
    margin-top: 15px;
    /* width: 300px; */
    height: 240px;
    margin-left: 20px;
}
nav{
    display: flex;
    gap: 100px;
    margin-left: 250px;
    color:rgb(#3d5458);
}

nav a{
    text-decoration: none;
    color: rgb(190, 123, 78);
}
.titulo p{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
   margin-bottom: 300px;
   line-height: 40px
 
=======
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;
   margin-bottom: 100px;
   line-height: 40px
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
}
.sobrenos{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
  margin-right: 200px;
 
}
.sobrenos h1{
    display: flex;
    align-items: start;
    justify-content:start;
    margin-top: 100px;
    font-size: 65px;
<<<<<<< HEAD
    color: rgb(#ff0000);
=======
    color: rgb(170, 132, 79);
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
    line-height: 40px
}


<<<<<<< HEAD


 

=======
  
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463

.sbn p{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 140px;
    margin-right: 140px;
<<<<<<< HEAD
    color: rgb(#516b70);
=======
    color: rgb(170, 132, 79);
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
    margin-bottom: 100px;
    line-height: 40px
}
.sbn img{
    display: flex;
    height: 420px;
    width: 600px;
  margin-bottom: 430px

<<<<<<< HEAD

   
}


=======
    
}

>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
.sbn{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    margin-left: 140px;
    margin-top: 30px;
   
}
.produtos{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-left: 130px;
<<<<<<< HEAD
   
}


=======
    
}

>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
.produtos h1{
    display: flex;
    align-items: start;
    justify-content:start;
    margin-top: 100px;
    font-size: 65px;
<<<<<<< HEAD
    color: #445972;
=======
    color: rgb(170, 132, 79);
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
    line-height: 40px;
   margin-bottom: 50px;


<<<<<<< HEAD


}


=======
}

>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
.pdt{
    margin-top: 55px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 30px;
    margin-left: 140px;
    margin-right: 140px;
<<<<<<< HEAD
    color: rgb(#960d0d);
=======
    color: rgb(170, 132, 79);
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
    gap: 30px;
    line-height: 40px
}

<<<<<<< HEAD

=======
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
.pdt img{
    display: flex;
    height: 500px;
    width: 800px;
margin-right: 20px;
<<<<<<< HEAD
}


.catalogo {
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
   
}


.cat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.catalogo article img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
   
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 200;
}
.item p{
    font-size: 25px;
  color: #516b70;
}
=======
}
>>>>>>> a6e2ac939182daac757604dbdaa5d4900bf3d463
