
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Carattere&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Joan&family=Poiret+One&family=Style+Script&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Updock&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 180, 180, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 91px;
}

header img{
    width: 90px;
    height: 70px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* padding-top: 40px; */
    background-color: rgba(237, 154, 154, 1);
    width: 706px;
    height: 60px;
    border-radius: 20px;   
}

nav a{
    color: rgba(173, 89, 89, 1);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    background-color: rgb(238, 206, 206);
    height: 480px;
}
main h1{
font-size: 40px;
/* font-family: "Bebas Neue", sans-serif; */

}

main img{
    width: 605px;
    height: 331,52px;
}

main p{
    width: 451px;
    font-size: 30px;
    font-family: "Joan", serif;
}
.inicio{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
    color:rgba(173, 89, 89, 1);
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 229, 229, 1);
    height: 550px;
    color: rgba(130, 48, 48, 1);
}

.sobre p{
    width: 400px;
    font-size: 32px;
}

.sobre h1{
    transform: rotate(-90deg);
    font-size: 35px;
    letter-spacing: 10px;
}

.sobre img{
    width: 370px;
    height: 484px;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 222, 222, 1);
    height: 750px;
    gap: 60px;
    color: rgb(141, 49, 0);
}

.produto p{
    width: 790px;
    font-size: 32px;
}

.produto h1{
    font-size: 35px;
    letter-spacing: 10px;
}

button{
 font-size: 20px;
 border: none;
 background-color:rgba(224, 169, 169, 1);
 width: 140px;
 height: 63px;
 border-radius: 20px;
 

}

button a{
    color: rgb(112, 47, 6);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: rgba(255, 201, 201, 1);
    height: 140px;
    color: rgba(136, 42, 42, 1);
}

footer img{
    width: 40px;
}

footer p{
    font-size: 20px;
}



.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.gmail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gmail img{
    
    height: 70px;
}
.zap{
   display: flex;
   justify-content: center;
   justify-content: center;
}
.zap img{
height: 90px;
}
.zap p{
    margin-top: 40px;
}

.insta{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
}

.insta img{
    
    height: 30px;
}

