@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Style+Script&family=Updock&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: rgb(255, 250, 234);
    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Imperial Script", cursive;
    font-size: 60px;
    margin-top: 60px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 70px;
    font-size: 30px;
    color: rgb(170, 132, 79);
    flex-direction: column;
    line-height: 40px
}

header{
    display: flex;
    align-items: center;
    justify-content:start;
   height: 100px;
    background-color: rgb(241, 228, 183);
    width: 100%;
}
header img{
    display: flex;
    margin-top: 15px;
    /* width: 300px; */
    height: 240px;
    margin-left: 20px;
}
nav{
    display: flex;
    gap: 100px;
    margin-left: 250px;
    color:rgb(170, 132, 79); 
}
.titulo p{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;
   margin-bottom: 100px;
   line-height: 40px
}
.sobrenos{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
  margin-right: 200px;
 
}
.sobrenos h1{
    display: flex;
    align-items: start;
    justify-content:start;
    margin-top: 100px;
    font-size: 65px;
    color: rgb(170, 132, 79);
    line-height: 40px
}


  

.sbn p{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-left: 140px;
    margin-right: 140px;
    color: rgb(170, 132, 79);
    margin-bottom: 100px;
    line-height: 40px
}
.sbn img{
    display: flex;
    height: 420px;
    width: 600px;
  margin-bottom: 430px

    
}

.sbn{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    margin-left: 140px;
    margin-top: 30px;
   
}
.produtos{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-left: 130px;
    
}

.produtos h1{
    display: flex;
    align-items: start;
    justify-content:start;
    margin-top: 100px;
    font-size: 65px;
    color: rgb(170, 132, 79);
    line-height: 40px;
   margin-bottom: 50px;


}

.pdt{
    margin-top: 55px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-size: 30px;
    margin-left: 140px;
    margin-right: 140px;
    color: rgb(170, 132, 79);
    gap: 30px;
    line-height: 40px
}

.pdt img{
    display: flex;
    height: 500px;
    width: 800px;
margin-right: 20px;
}